body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: aquamarine;
}

#map {
  position: absolute;
  top: 0%;
  bottom: 0;
  width: 70%;
  margin-left: 30%;
  margin-right: 0;
}

.mapboxgl-marker:hover {
  opacity: 0.7;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#sidebar {
  position: absolute;
  width: 30%;
  height: 100%;
  background-color: cadetblue;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.search-locations {
  margin: 20px;
  height: 30px;
  width: 80%;
  padding: 10px 10px 10px 30px;
  font-size: 1.3rem;
}

.button {
  margin-left: 15px;
}